.icon-div {
    width: 100px;
    height: 100px;
    background-color: #b5a99c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .icon {
    font-size: 48px;
    color: white;
  }
  p{
    display: block;
    color:rgb(79, 79, 79);
    font-size: small;
    font-weight: bold;
  }
  .icon-column
  {
    flex-direction: column;
  }