.label{
    font-weight: bold;
}
p{
    margin-bottom: 2px;
}
.edit-icon {
    color: gray;
  }
.container-fluid{
padding-left: 80px;
padding-right: 80px;
margin-top: 3vh;
}
.form-check-input:checked {
    background-color: green;
    border-color:green;
}
.form-check-input {
    width: 1.4em;
    height: 1.4em;
    margin-right: 6px;
}
.form-check-label {
    font-size: 15px;
    align-items: center;
}
.form-check{
    align-items: center;
    justify-content: center;
}
form {
    margin-top: 0px !important;
}

.btn {
    color: var(--bs-btn-hover-color);
    background-color: #d87911;
    border-color: #d87911;
    text-decoration: none;
    width: 10rem;
    margin-right: auto;
    margin-top: 25px;
    padding: 5px;
    align-items: center;
    text-align: center;
}
.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: white;
    color: #d87911;
    border-color: #d87911;

}
a{
    text-decoration: none;
}
.products.row{
    flex-wrap: wrap;
}
label.form-check-label {
    display: flex;
}

.camera-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    border: none; 
    background: none; 
    padding: 0; 
    cursor: pointer;
  }
  .camera-button {
    outline: none;
  }
button.camera-button.btn.btn-light {
    margin-left: 100px;
}
.add-product{
    border-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E49F15;

}
.add-product:hover{
    color: white;
    background-color: #724F0A;
}
